<div class="jumbotron ">
    
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        {{quemSou}}
        <h6><footer class="blockquote-footer">{{subFrase}}</footer></h6>
      </div>
      <div class="col">
        <img src="{{img}}" height="200" width="200" class="img-fluid">
      </div>
    </div>
  
  
    <div class="row">
      <div class="col align-self-start">
        <br>
        <p class="parag text-justify">{{sobreP0}}</p>
        <p class="parag text-justify">{{sobreP1}}</p>
        <p class="parag text-justify">{{sobreP2}}</p>
        <p class="parag text-justify">{{sobreP3}}</p>
        <p class="parag text-justify">{{sobreP4}}</p>
        <p class="parag text-justify">{{sobreP5}}</p>
      </div>
    </div>
  
  <br>
  <br>
  <br>
  <br>
</div>
