<div class="jumbotron ">
  <div class="container">
  <div class="col-8 offset-2 text-center">
    <h1>{{descC0}}</h1>
    <img src="{{c0}}" width="1000px 70%" class="img-fluid ">
  </div>
  <hr>

  <div class="col-8 offset-2 text-center">
    <br>
    <h1>{{descC1}}</h1>
    <img src="{{c1}}" width="1000px 70%" class="img-fluid ">
  </div>
  <hr>

  <div class="col-8 offset-2 text-center">
    <br>
    <h1>{{descC2}}</h1>
    <img src="{{c2}}" width="1000px 70%" class="img-fluid ">
  </div>
  <hr>

  <div class="col-8 offset-2 text-center">
    <br>
    <h1>{{descC3}}</h1>
    <img src="{{c3}}" width="1000px 70%" class="img-fluid ">
  </div>
  <hr>

  <div class="col-8 offset-2 text-center">
    <br>
    <h1>{{descC4}}</h1>
    <img src="{{c4}}" width="1000px 70%" class="img-fluid ">
  </div>
  <hr>

  <div class="col-8 offset-2 text-center">
    <br>
    <h1>{{descC5}}</h1>
    <img src="{{c5}}" width="1000px 70%" class="img-fluid ">
  </div>
  <hr>

  <div class="col-8 offset-2 text-center">
    <br>
    <h1>{{descC6}}</h1>
    <img src="{{c6}}" width="1000px 70%" class="img-fluid ">
  </div>
  <br>
  <br>
  <br>
</div>
</div>