

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="jumbotron text-center">
  <div>
    <img src="{{img}}" height="350" width="350" class="img-fluid">
  </div>
  <h2>
    <p class="font-weight">{{title}}</p>
  </h2>
  <h4>
    <p class="font-weight">"{{frase}}"</p>
  </h4>
 <br>
  <ul class="social-network social-circle ">
    <li><a href="https://github.com/TheCapa" target="_blank" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/rafael--souza" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
  </ul>
 <br><br><br><br>
</div>