<div class="jumbotron text-center">
  <div class="container">
    <h1>{{descP0}}</h1>
    <div>
      <img src="{{imgP0}}" height="50%" width="70%" class="img-fluid" >
    </div>
    <div>
      <br>
      <p class="text-justify">{{textP0}}</p>
      <br>
    </div>
  </div>
<hr>
  <div class="container">
    <br>
    <h1>{{descP1}}</h1>
    <div>
      <img src="{{imgP1}}" height="50%" width="70%" class="img-fluid" >
    </div>
    <div>
      <br>
      <p class="text-justify">{{textP1}}</p>
      <br>
    </div>
  </div>
  <hr>
  <div class="container">
    <br>
    <h1>{{descP2}}</h1>
    <div>
      <img src="{{imgP2}}" height="50%" width="70%" class="img-fluid" >
    </div>
    <div>
      <br>
      <p class="text-justify">{{textP2}}</p>
      <br>
    </div>
  </div>
  <hr>
  <div class="container">
    <br>
    <h1>{{descP3}}</h1>
    <div>
      <img src="{{imgP3}}" height="50%" width="70%" class="img-fluid" >
    </div>
    <div>
      <br>
      <p class="text-justify">{{textP3}}</p>
    </div>
  </div>
  <br>
<br>
<br>
</div>

<!--
/*.....................................................................................
.  _______       ___       ______      ___      ___       __   __             __      .
. /|  ____|     //  \     /|  _  |    //  \    |    |__| |  | |__| |  | |\/| |__      .
. || |         // /\ \    || |_| |   // /\ \   |___ |  | |__| |  \ |__| |  | |__      .
. || |        // /__\ \   ||  ___|  // /__\ \     __     __  ___  __       __   __    .
. || |____   // ______ \  || |     // ______ \   |__  | |__   |  |__ |\/| |__| |__    .
. ||______| //_/      \_\ ||_|    //_/      \_\  ___| | ___|  |  |__ |  | |  | ___|   .
.......................................................................................*/-->